.message
	.message__box
		.message__username
			= message.user.name
		.message__date
			= format_posted_time(message.created_at)
	.lower-message
		- if message.body.present?
			%p.lower-message__content
				= message.body
		= image_tag message.image.url, class: 'lower-message__image' if message.image.present?