%body
  %header.header
    .alert チャットグループが作成されました。
  .contents
    .contentheader
      .headername
        %h3.headername__name yutaka
        %ul.icon
          %li.icon__list1
            = link_to "/groups/new", method: :get do
              %i.fa.fa-edit
          %li.icon__list2
            = link_to "/users/user_id/edit", method: :get do
              %i.fa.fa-cog
      .headergroup
        .left-headergroup
          .left-headergroup__title テスト
          %ul.members
            Member :
            %li.members__name yutaka
        .right-headergroup
          = link_to 'Edit', "/groups/group_id/edit", method: :get
      .left-content
        = link_to "/groups/group_id/messages", method: :get do
          .left-content__name
            サンプル
          .left-content__comment
            よろしくお願いします。
      .contents-main
        .right-content
          .message
            .message__box
              .message__username
                ibaragi
              .message__date
                2018/09/26 11:00
            .lower-message
              %p.lower-message__content
                テスト
        .form
          %form#new_message.js-form{"accept-charset": "UTF-8", action: "/groups/22932/messages", enctype: "multipart/form-data", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "+bVbGrRUGHFOuvRKgT2sSfTA+DtRCsYoLlmR3Yx140obX75hnjrI3Lzu8MXtqEeO37c4xB9IWpKUp1gVD0gTGw=="}/
            %input#message_content.form__message.js-content{name: "message[content]", placeholder: "type a message", type: "text"}/
            .form__mask
              %label.form__mask__image{for:"message_image"}
                %i.fa.fa-picture-o.icon
                  %input#message_image.hidden.js-file{name: "message[image]", type: "file"}/
            %input.form__submit{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
